
<div class="menu_container">
<ul class="menu">

<li>Users
 	<ul class="level_2">
       <li location="location_new_user">Item 1.0</li>
       <li location="location_manage_user">Item 1.1</li>
      <!--   <li location="location_edit_user">Item 1.2</li>
       <li location="location_delete_user">Item 1.3</li>
       <li location="location_link_user">Item 1.4</li>-->
    </ul>
</li>

<li >Accounts
    <ul class="empty">
    	<li  > Add New</li>
    	<li  >Manage</li>
    	<!--<li class="label_no_link" >View
	    	<ul class = "level_3">
		    	<li location="location_specific_accounts">Item 1.0</li>
		        <li location="location_online_accounts">Item 1.1</li>
		        <li location="location_offline_accounts">Item 1.2</li>
		        <li location="location_blocked_accounts">Item 1.3</li>
		        <li	location="location_active_accounts">Item 1.4</li>
		        <li	location="location_suspended_accounts">Item 1.4</li>
		        <li	location="location_misceleneous_accounts_info">Item 1.5</li>
		        </ul></li> -->
		<!--  <li class="label_no_link" >Edit</li>
		<li class="label_no_link" >Link</li>
		<li class="label_no_link" >Delete</li>-->
		
    </ul>
    </li>

<li>Permissions
 <ul class="empty" >
        <li>New</li>
        <li>Users</li>
        <li>Accounts</li>
       
    </ul>
</li>
<li> Authentication
	<ul class="empty" >
        <li>Manage</li>
    </ul>
 </li>

<li>Logs

	<ul class="empty" >
        <li>Manage</li>
    </ul>
</li>

<li> Issues
	 <ul class="empty">
        <li>Authentication</li>
        <li>Authorization</li>
        <li>UI</li>
        <li>Others</li>
    </ul>
</li>
</ul>
</div>

