
<!--  <div class="menu_container">
<ul class="menu">
<li ><div location="home"></div>
<ul>
<li ><div location="home_home"></div></li>
<li ><div location="home_home2"></div></li>
<li ><div location="home_home3"></div></li>
<li ><div location="home_home4"></div></li>
</ul>
</li>

<li ><div location="home2"></div>
<ul>
<li ><div location="home2_home"></div></li>
<li ><div location="home2_home2"></div></li>
</ul>
</li>

<li ><div location="home3"></div>
<ul>
<li ><div location="home3_home3"></div></li>
</ul>
</li>

</ul> -->
<div location="left_menu" class="left_menu"></div>
<div location="main_work_area" class="main_work_area"></div>
<div location="right_menu" class="right_menu"></div>
</div>
