// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
@import "../valo/valo.scss";

@mixin mats_web_portal{
  @include valo;
  
  
 
  .username_text_field{
  			//color:#F00;
  			//width: 200px;
  }
 .panelx_container{
 			background:#000;
 }
 .hLayoutx_container{
 			background:#F00;
 }
 
 .panelx_login{
 			  background:#F00;
 			  //padding:20%;
 }
 
 .tabref{
	//border: 1px solid #7ec0ee;
	//border-radius: 5px;
	min-height: 560px;
	overflow-x: scroll;
	//background: #F00;
	
	
		
}
.tabref2{
	background:#CD0000;
	min-height: 500px;
	margin: 5px,5px,5px,5px;
		
}
.butDisable{
	background:#CD0000;
	color: black;
	margin: 5px,5px,5px,5px;
}
.butEnable{
	background:#24B60D;
	color: white;
	margin: 5px,5px,5px,5px;
}
.putspace{
	margin: 5px,5px,5px,5px;
}
 
 .panel_login_content{
 			// background:#F00;
 			 // padding:200px;
 			 // width:400px;
 			  
 }
 
.panel_login_content.v-margin-left   {padding-left:   60px;}
.panel_login_content.v-margin-right  {padding-right:  60px;}
.panel_login_content.v-margin-top    {padding-top:    60px;}
.panel_login_content.v-margin-bottom {padding-bottom: 60px;}

.logo_and_slogan_container{
	//background:#FF0;
}

.label_login_prompt{
	font-size: 12px;
}
.errorlogin{
	color: #F00;
	font-weight:900;
	font-size: 14px;
}

.label_login_prompt_err{
	color: #F00;
	//font-style: italic;
	font-size: 12px;
}
.tble{

	border: 1px solid #7ec0ee;
	border-radius: 10px;
	margin: 10px 5px 5px 10px;
	padding: 2px;
}


.vx-label.v-widget.label_login_prompt.v-label-label_login_prompt.v-label-undef-w{
	color:#F0F;
	font-size: 4px;
}


.label_version.v-label{
	font-size:12px
	
	//display: block;
   // white-space: normal;
   // text-align: center;
   // width: 200px;
}

.label_copyright.v-label{
	font-size:10px;
	//display: block;
   // white-space: normal;
    //text-align: center;
   // width: 200px;
}





.layout_work_area_container{

		background:#F00;
		//width: 100px;
		//height: 1000px;
}




.left_menu{
	background:#FF0;
	width: 20%;
	height: 100%;
	//float: left;
}

.right_menu{
	background:#FF0;
	width: 200px;
	height: 500px;
	float: right;
}

.main_work_area{
	background:#FFF;
	width: 80%;
	height: 100%;
	float: left;
}

.system_identity_container{
	background: #FAFAFA;
	padding: 5px;
	min-height: 100%;
}

.vmbar {
    background: #444;
    min-width: 100%;
   
   
}

.vmbar_container{
	background: #00F;
}

ul.menu{
	background:#FFFF00;
	padding:0;
	margin:0px;
	width:100%;
	
}





.menu > li {
	position:relative;
	background:#000;
	padding: 10px;
	//padding-right: 10px;
	
}



.menu_container{
	color:#00C;
	background:#006;
}

.menu{
	list-style:none;
	background:#0000CC;
	color:#FFFFFF;
	
	
}

.menu li:hover{
	background:#00F;
	color: #6CF;
	cursor: pointer;
}


.menu li ul{
	position:absolute;
	left: -9999px;
	white-space:nowrap;
	list-style-type:none;
	min-width: 100%;
	background: #000;
	padding: 0;
}

ul.empty li{
	position:relative;
	background:#000;
	padding: 10px;
	
}


.menu li ul li{
	
	background: #000;
	
}

.menu li:hover ul.level_2, .menu li:hover ul.empty{
	left:100%;
	top:-1px;	
	z-index: 999;
}

.menu li{
	border-top: 1px solid #444;
	text-align: right;
	//padding: 10px;
}


.label_menu_item {
	text-align: right;
	white-space: nowrap;
	padding: 10px;
	
}

.label_no_link{
	position:relative;
	background:#000;
	padding: 10px;
}

/*.v-label.label_menu_item{
	color: #F00;
	padding: 5px;
	background: #F0F;
}*/


.right_content_container{
	//background: #00F;
}






.logout_container{
	//background: #00F;
	//min-height: 100%;
	//border-bottom: 1px dotted #222;
}

.left_menu_container {
		background: #FAFAFA;
		
		//background: #444;
		//min-width: 100%;
		//min-height: 100%;
		//background: #F0F;
		
		
		
}


.main_content_container{
	//background: #0F0;
}

.user_add_container{
	//background: #00F;
	padding: 20px;
}



.main_layout{
	min-height: 100%;
	//background: #0F0;
}

.m_l {
	//background: #F0F;
	overflow: auto;
	min-height: 100%;
	height: auto;
}

.m_l_clear_both{
	clear: both;
	background: #F00;
	min-width: 100%;
	height: auto;
}

.l_c {
	background: #00F;
	min-width: 100%;
	
}

.r_c {
	//background: #0F0;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	
}

.l_g_c {
	//background: #F00;
	border-bottom: 1px dotted #222;
	
}

.m_c_c {

	//background: #FFF;
	//padding: 200px;
}

.logout_and_username{
	
}


.header_container{
	//background: #00F;
}

.body_container{
	background: #0F0;
}

.x_1{
	//background: #F0F;
	//min-height: 100%;
	//height: 100%;
}

.x_2{
	background: brown;
	//min-height: 100%;
}

.x_3{
	//background: #000;
	//min-height: 100%;
}

.x_4{
	//background: #FA12B9;
	//min-height: 100%;
	
}



.c_1{
	//background: #F00;
	min-width: 100%;
	//width: auto;
	z-index: 999;
}

.c_2{
	background: #00F;
	margin-bottom:4px;
	margin-top: 0px;
}
.thy{
	margin-bottom:4px;
}
.lbel3{
	margin-right: 4px;
	font-size: 19px;
}

.c_3{
	background: #00F;
}

.c_4{
	
	//background: pink;
	border-bottom: 1px dotted #00F;
	z-index: 999;
}


.system_identity_container{
	//background: #FAFAFA;
	padding: 5px;
	//min-height: 100%;
}

.logo_c{
	//background: #000;
	padding: 5px;
}



.c_2 {
	background: #F00;
}

.menu_c{
	//background: #F00;
	//min-height: 600px;
	height: auto;
	//background: #0F0;
	z-index: 999;
	
}

.content_c{
	//background: #0F0;
	//position: absolute;
	//top: 0;
	//right: 0;
	//width: 90%;
	//left: 130px;
	//z-index: 0;
	
	//position: relative;
	background: #FAFAFA;
	min-width: 100%;
	min-height: 530px;
	height: 100%;
	
}

.vmb{
	z-index: 9999;
	//height: 200px;
	width: 100%;
	//background: #F00;
}

.vmb_c{
	//background: #00F;
	//min-height: 1000px;
	//overflow:hidden;
	
}


.parent_layout{
	//background: #F00;
	min-width: 100%;
	//width: 100%;
	//min-height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.g{
   //background: yellow;
  	//min-height: 400px;
    height: 10px;
    //min-width: 100%;
  	//overflow: auto;
  
}

.menu_and_content_c{
	background: #444;
	//position: relative;
	z-index: 1;

}

.c_login_page{
	overflow: auto;
}
.logout_c{
	padding-top: 0;
	margin-right: 10px;
	//background: #00F;
	//padding-top: 400px;
}

.menu_container{
	width: 100%;
}

.c_search_user{
	//background: gray;
	//border-right: 1px solid #DDD;
	//height: 1000px;
	margin-top: -80px;
}

.u_operation_container{
	border-left: 1px solid #DDD;
	//background: gray;
}

.content{
	//background: #FFF;
	//width: 100%;
	//position: unset;
}

.user_operation_container{
	//background: brown;
	margin: 0;
	
}

.user_search_container{
	margin-bottom: 10px;
}

.c_u_search_results{
	padding: 10px;
}

.c_action_bulk{
	//padding: 10px;
	//background: #FF0;
}

.c_actions{
	padding: 2px;
}

.search_user_form{
	//padding-bottom: 30px;
	//margin-right: 30px;
	text-align: left;
	padding: 0;
	//margin-top: 40px;
}

.c_c_header{
	//background: #00F;
	//margin-top: -40px;
	z-index: 999;
	//margin-left: -250px;
}




.user_operation_img{
	margin-bottom: 25px;
}



.label_operation_header{
	margin-left: 100px;
	color: #197DE1;
	padding: 10px;
	background: #FFF;
}

.label_search_user.v-label{
	color: #197DE1;
	padding: 10px;
	background: #FFF;
	white-space: normal;
	//min-width: 100%;
	max-width: 500px;
	
}

.u_d_t{
	color: #197DE1;
	padding: 10px;
}

.label_search_results{
	color: #197DE1;
	padding: 10px;
	background: #FFF;
}

.operation_form_user_profile{
	text-align:right;
}

.cur_activity_c{
	background: #FFF;
	margin-top: 65px;
	margin-right: 50px;
	padding:0;
	
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-radius: 0px 0px 5px 5px;
	
	background: #00F;
	z-index: 999;
}

.cur_activity_strip{
	background: #197DE1;
	height: 5px;
}

.cur_activity_conn{
	background: #000;
}

.label_add_user{
	color: #197DE1;
	padding: 10px;
	background: #FFF;
}

.frm_add_user{
	//height: 9000px;
	//background: #00F;
}

.c_header{
	//background: pink;
}

.c_add_user{
	//background: #0F0;
	//border-right: 1px solid #DDD;
	//margin-bottom: 40px;

	//margin-top: 70px;

	//margin-top: 70px;
	margin-left: 80px;

}

.v-textfield-small{
	width: 40px !important;
	//background: yellow;
}

.pagedtable-itemsperpagecombobox{
	width: 80px !important;
	//background: yellow;
}

.frm_details_personal_info{
	//background: #00F;
	//width: 100px important;
	//border-right: 1px solid #DDD;
	//border-radius: 10px;
	//margin-right: 50px;
}
.frm_details_personal_info .v-formlayout-contentcell{
	//background: #F00;
	//min-width: 100%;
}

.frm_details_personal_info .v-datefield, .frm_details_personal_info .v-filterselect, .frm_details_personal_info .v-textfield{
	//background: #F0F;
	//background: #FFF;
	//min-width: 150px;
	//max-width: 150px;
	margin-bottom: 4px;
	//.v-datefield,.v-filterselect-input;
	
}



.btn_link{
	//padding: 0px;
	//background: #F00;
	//border: none;
	//height: 10px;
	
	border: none;
	margin-right: 2px;
	margin-top: 4px;
}

.c_u_details{
	//background: #0F0;
}

.label_frm_header{
	
}

.v-caption-label_frm_header{
	color: #197DE1;
	padding: 5px;
	background: #FFF;
	//font-style: italic;
	font-size: 15px;
}

.label_c_header{
	color: #197DE1;
	padding: 10px;
	background: #FFF;
	
}

.btn_tab_like_active{
	border-bottom: none;
	background-image: none;
	box-shadow: none;
	color: #197DE1;
	opacity: 1 !important;
	
	
}

.btn_tab_like > span{
	border: none;
	font-weight: 300;
}

.btn_tab_like_active:active{
	background-color: #F1F1F1;
	background-image: linear-gradient(to bottom, #FAFAFA 2%, #EFEFEF 98%);
	box-shadow: 0px 1px 0px #FFF inset, 0px -1px 0px #E7E7E7 inset, 0px 2px 3px rgba(0, 0, 0, 0.05);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05);
}

.btn_tab_like.v-button:focus:after{
	border-bottom: none;
	box-shadow: none;
	background-image: none;
	
}

.btn_tab_like.v-button:focus{
	//border-bottom: none;
	//box-shadow: none;
	//background-image: none;
	border-radius: 2px;
 	border-right:none;
	
}

.btn_tab_like_active{
	border-bottom: none;
	box-shadow: none;
	background-image: none;
	cursor: pointer !important;
	
}


.btn_tab_like:active{
	//background: #F0F !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-top: none !important;
}

.btn_tab_like{
 border-radius: 2px;
 border-right:none;
}

.btn_tab_like:active{
	//border-radius: 2px;
	
 //background: #0F0;
 
}



.btn_tab_like_first{
	border-right: none;
}

.btn_tab_like_last{
	border-left: none;
	border-right: 1px solid #C5C5C5;
}

.c_info_category{
	border-right: 1px solid #C5C5C5;
}



.btn_tab_like_first{
	border-right: none;
}

.btn_tab_like_last{
	border-left: none;
	border-right: 1px solid #C5C5C5;
}

.c_info_category{
	border-right: 1px solid #C5C5C5;
}


.search_user_header{
    //background: #F00;
 	margin-top: 10px;
}

.c_u_manage_menu{
	//border-right: 1px solid #C5C5C5;
	//background: #0F0;
	//position: fixed;
	margin: 5px 0 0 5px;
	z-index: 99;
	padding: 0;
	
	
}

.c_u_log_menu{
	//background: #00F;
	//border-right: 1px solid #C5C5C5;
	//margin: 5px 0 0 5px;
	//padding: 50px;
	margin-top: 10px;
	//margin-left: -400px;
}
.see_lay{
	//background: url(img/skin.jpg);
    background-repeat: repeat;
	border: 1px solid #7ec0ee;
	border-radius: 10px;
	margin: 10px 5px 5px 10px;
	padding: 2px;
	cursor: pointer;
	
}
.lge{
    
    border: none;
    
}

.c_sub_menu_invisible{
	display: none;
}

.c_sub_menu_visible{
	display: block;
	//background: #00F;
}

.search_results_header {
}

.c_parent{
	background: #F00;
}

.c_menu{
	background: #00F;
}

.c_content{
	//background: #0F0;
}

.layout{
	//background: #FF0;
	
}

.c_search_user{
}

.btn_repositioned{
	margin-top: 24px;
}

.w_change_pass{
	 padding: 5px 60px 60px 60px;
}

.c_body_visible{
	display: block;
}

.c_body_invisible{
	display: none;
}

.w_delete_user{
	 padding: 20px 20px 20px 20px;
}

.check_t_and_c label{
	//margin: 10px 0px 50px !important;
	//white-space: normal !important;
	/background: #F00;
}

.c_more{
	 margin: 100px;
	 display: none;
}

.btn_hide{
		display:none;
		background: #F0F;
		width: 1000px;
	}
.c_u_sub_menu_new_change_invisible{
	display:none;
}
.btn_back{
	//margin: 20px 30px 0px -50px !important;
	//margin-top: 50px;
	position: fixed;
	
}

.frm_manage_commission{
	//padding: 0px 10px;
	background: #F0F;
	margin-top: 650px;
}

.c_attr v-label{
		padding-right: 50px !important;
		
}

.c_attr{
	//background: #F00;
	margin: 30px 0px 0px 40px;
}

.label_add_user.attr{
	color: #197DE1;
	padding: 10px;
	background: #FFF;
	min-width: 100%;
	border-right: 1px solid #444;
}

.attr_val{
	margin-top: 10px;
}

.c_attr_val{
	padding-left: 10px !important;
	padding-right: 40px !important;
	padding-left: 10px !important;
	padding-top: auto !important;
	padding-bottom: auto !important;
	min-height: 100%;
	
}

.tf_op{
	margin-top: 50px !important;
	margin-bottom: -40px !important;
}

.c_choose{
	//background: #FF0;
	margin-left: 10px;
}

.btn_f_c_retrieve{
	margin-top: 10px;
	margin-bottom: 100px;
}
.tb_u_search_results{
	overflow-x: auto;
}

.s_r_cx{
	overflow-x: auto;
	min-width: 800px;
	background: #F00;
}

.tb_s_rx{
	overflow: auto !important;
	min-width: 800px !important;
	background: #F00;
}

.c_notif{
	//background: #00F;
	
}

.c_notif .v-label{
	//background: #F00;
	text-align: center;
	//max-width: 200px;
}

.btn_t{
	color: #197DE1 !important;
	//background: #F0F !important;
}

.label_txn_d{
	color: #197DE1;
	padding: 10px;
	background: #FFF;
}

.label_val_custom_ud{

	padding: 10px 30px 2px 10px;
	display: inline-block;
	text-align: right;
	//float: right;
	//width: 100%;
	
}

.label_cap_custom_ud{
	background: #FAFAFA;
	padding: 10px 10px 2px 10px;
	//float: left;
}

.label_ud.v-caption{
	background: #F00 !important;
	font-weight: bold !important;
	color: #F0F !important;
	
}

.c_details_test{
 	background: #FFF;
}

.frm_details_personal_info{
	//background: #F0F;
}

.c_menu_x{
	border-bottom: 1px solid #197DE1 !important;
}

.v-menubar { 
 	border-left: none !important;
 	border-right: none !important;
 	border: none !important;
 	box-shadow: none !important;
 	border-style: none !important;
 	background-image: none !important;
}

.v-menubar{
	border: none !important;
	border-left: none !important;
 	border-right: none !important;
 	border-left: none !important;
 	border-right: none !important;
 	border: none !important;
 	border-style: none !important;
 	background-image: none !important;
 	
}

.v-menubar:active {
	border: none !important;
}

.v-menubar:after{
	opacity: 0;
}

.v-menubar:focus {
	border: none !important;
	
}


.v-menubar-submenu {
 }
.v-menubar-menuitem { 
	border: none !important;
 	font-weight: 300 !important;
 	background-image: none !important;
 	border-width: 0px !important;
 	border-style: none !important;
}
.v-menubar-menuitem-caption {
 	border: none;
 	font-weight: 300;
 }
.v-menubar-menuitem:focus {
	color: #197DE1;
	border-bottom: 1px solid #197DE1;
 }
.v-menubar-submenu-indicator { }

.m_active{
	color: #197DE1 !important;
	border-bottom: 1px solid #197DE1 !important;
}

.csman{
	//background: #F0F;
}

.label_s_rx{
	margin-top: 12px;
	padding: 10px;
	background: #FFF;
}

.btn_s_rx{
	margin-top: 25px;
	//padding: 10px;
	background: #FFF;
}

.btn_hand{
 	cursor: pointer !important;
 	background: #F00 !important;
 	
}

.btn_hand:hover{
 	border: 1px solid #444 !important;
 	background: #F0F !important;
}

.c_drill{
		position: absolute;
		right: 80px;
		top: 80px;
		background: #F00;
}

.c_pie{
	position: relative !important;
	
}


.v-caption-u_d_t span{
	color: #197DE1 !important;
	padding: 10px 10px 0px 0px !important;
	font-size: 18px;
	font-weight: 300;
	
}

.lb_off{
	margin-top: 22px;
}

.btn_offset{
	margin-top: -60px !important;
}


	




  				
}
